* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-color: #5a5858;
}
h2 {
  display: flex;
  justify-content: center;
}
#small {
  display: flex;
  justify-content: center;
}
